.container {
  /*background-color: rgb(30, 30, 86);*/
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px;
}

.logo{
  font-size: 30px;
  font-weight: bold;
}