.container {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: #FACC15;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 4px #FFE81F;
  }