.container{
  min-width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.active{
    background-color: var(--text);
    color: var(--bg);
}